*,body{margin:0; padding:0;max-width: 780px; margin:0 auto; height:auto; vertical-align: middle;}
ul,li,div,a{text-decoration: none;}
.clearfix:after{content:''; display: block; clear: both;}




.warp{width:100%; max-width: 720px; min-height: 1600px;}
html{font-size: 30px}
img{}
body{}
li,a{list-style: none;}

.header{min-width: 360px; width:100%; height: 100px;}
.banner{width:100%; height:; margin-top: 38px; margin: 0 auto;}
.banner > ul > li{list-style: none; margin: 0 auto;}
.banner li img{width:100%; margin: 0 auto;}

.main_row{width: auto; margin: 0 auto; font-size: 17pt; justify-content: space-around; overflow: hidden;}
.main_card{width: 100%; display: flex; flex-direction:row;}
.main_card li{}
.card_image{width: 15vw; margin: 0; display: block; float:left;}
.card_image > img{width: 15vw;}

.card_info{float: left; display: block; margin-left:4vw; justify-content: center; align-items: center;}

.card_title{color:#666; font-size: 3vw; max-width: 400px; max-height: 4vw; overflow: hidden;}

.card_address{color:#868686; font-size: 2vw; max-width: 500px;max-height: 100vw}

.card_price{color:#666; font-size: 2.5vw; max-width: 500px; max-height: 3.5vw;}
/*물건목록 제목, 주소, 가격*/

.card_rayout{display: block; min-width: 360px; width:100%;margin:0 auto; height: 15vw; border-bottom: 2px solid #666; margin-top:3vw; float:left;}
.card_rayout > a >div{float:left;}
/* ↑목록 하나 크기(제목,주소,가격 포함)*/

a{
    text-decoration: none;
    color: #333;
}

ul,ol,li{
    list-style: none;
}

#wrap{
    width: 100%;
    height: 1200px;

}

.header{
    width: 100%;
    height: 100px;
    background: #1f55e0;
    position: relative;
}

.logo{
    float: left;
    width: 20%;
    height: 100px;
}
.logo img{
    margin-left: 100px;

}

.search{
    margin-top: 20px;
    text-align: center;
    float: left;
    width: 60%;
    height: 60px;
}




/*hambar*/

.container{
    float: left;
    width: 20%;
    height: 100px;
    background: #1f55e0;
    position: relative;
}

.menu{
    right: 35%;
    width: 100px;
    height: 100px;
    background-color: #1f55e0;
    position: absolute;
}

.one{
    width: 70px;
    height: 10px;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 20px;
}

.two{
    width: 70px;
    height: 10px;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 15px;
}

.three{
    width: 70px;
    height: 10px;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 15px;
}

.contents{
    width: 100%;
    height: 1000px;
    background: #ff0;
}

.footer{
    width: 100%;
    height: 100px;
    background: #1f55e0;
}

.foot{
    width: 60%;
    height: 100px;
    margin: 0 auto;
}

.foot{
    text-align: center;
    display: flex;
    justify-content:space-around;
}

.foot > li{
    margin-top: 15px;
}

.foot > li > a{
    color: #fff;

}

